@model Registration.Web.Models.RegistrationViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Delete</h2>

<h3>Are you sure you want to delete this Contact?</h3>
<div>

    <hr />
    <div class="row">
        <div class="col-lg-2">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "bold" })
            <div class="form-group">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>
        <div class="col-lg-2">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "bold" })
            <div class="form-group">
                @Html.DisplayFor(model => model.Age)
            </div>
        </div>
        <div class="col-lg-2">
            @Html.LabelFor(model => model.NoOfGuest, htmlAttributes: new { @class = "bold" })
            <div class="form-group">
                @Html.DisplayFor(model => model.NoOfGuest)
            </div>
        </div>
        <div class="col-lg-2">
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "bold" })
            <div class="form-group">
                @Html.DisplayFor(model => model.DOB)
            </div>
        </div>
        <div class="col-lg-2">
            @Html.LabelFor(model => model.Profession, htmlAttributes: new { @class = "bold" })
            <div class="form-group">
                @Html.DisplayFor(model => model.Profession)
            </div>
        </div>
    </div>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

